<h1 class="page__logo"><a href="{{ .Site.BaseURL }}" class="page__logo-inner">{{ .Site.Title }}@{{ .Site.Title }}</a></h1>
<nav class="page__nav main-nav">
    <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="main-nav__item"><a class="nav-main-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq ($currentPage.Permalink) (.URL | absLangURL)) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
</nav>
<ul class="aside__social-links">
    {{ range $item := .Site.Params.socialLinks }}
    <li>
        <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" title="{{ $item.title }}"><i class="{{ $item.icon }}" aria-hidden="true"></i></a>&nbsp;
    </li>
    {{ end }}
</ul>
