{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{ range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">
                                    {{ if .Site.Params.dateformShort }}
				        {{ .Date.Format .Site.Params.dateformShort }} <span class="post-day-time">- {{ .ReadingTime }} min read</span>
                                    {{ else }}
				        {{ .Date.Format "Jan 2"}} <span class="time-day-time">- {{ .ReadingTime }} min read</span>
                                    {{ end }}
                                </span>
                            </a>
			    <div class="post-tags">
			        <span class="post-tag">
				    {{ range .Params.categories }}
				        <a href="{{ (urlize (printf "categories/%s" . )) | absURL }}/">#{{ . }}</a>
				    {{ end }}
			        </span>
			    </div>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
